<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Page Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <section id="work-header" class="container">
        <div class="row border-dark border-bottom border-4">
            <h1 class="display-1 fw-bold mb-5 mt-4">About US</h1>
            <p class="col-12 col-md-8 fw-light h2 mb-5">
                Weaving together UX, UI, and brand design with product management and
                frontend development.
            </p>
        </div>
    </section>



    <section id="case-study" class="container mt-5 border-dark border-bottom border-4">
        <div class="row">
            <div class="col-12 col-md-2 sticky-top">
                <span class="fw-bold"> Case Studies </span> <br />
                Longform explorations of UX process and design projects
            </div>
            <div class="col-12 col-md-10">
                <div class="row mb-3">
                    <div class="col-12 col-md-7 me-5 col-sm-6 mb-4">
                        <img src="./Case-study.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-4 col-sm-6 ">
                        <span class="fw-bold fs-3">AdminHub AI suite</span>
                        <div class="fs-4">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                            excepturi eveniet nihil nulla cum? Dolores laboriosam fuga
                            voluptatum impedit! Culpa deserunt aspernatur magni cupiditate?
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-8 col-sm-6 mb-4">
                        <img src="./Case-study.jpg" alt="" class="img-fluid " />
                    </div>
                    <div class="col-12 col-md-4 col-sm-6">
                        <span class="fw-bold fs-3">AdminHub AI suite</span>
                        <div class="fs-4">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                            excepturi eveniet nihil nulla cum? Dolores laboriosam fuga
                            voluptatum impedit! Culpa deserunt aspernatur magni cupiditate?
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-8 col-sm-6 mb-4">
                        <img src="./Case-study.jpg" alt="" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-4 col-sm-6">
                        <span class="fw-bold fs-3">AdminHub AI suite</span>
                        <div class="fs-4">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                            excepturi eveniet nihil nulla cum? Dolores laboriosam fuga
                            voluptatum impedit! Culpa deserunt aspernatur magni cupiditate?
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>